@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');
@import '~@csstools/normalize.css';

body{
  background-image: url("https://images.unsplash.com/photo-1460339594641-eb86e8402669?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}



.App-header {
  background-color: #282c3400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Tourney', cursive;
  margin: 30px auto 15px auto;
}

form{
  justify-content: center;
  margin: 7px;
}
.formContent{
  margin: 7px;
}


.App {
  text-align: center;
  background-color: #282c3400;
  display: grid;
  justify-content: center;
  
}

.Card{
  display: block;
  justify-content: center;
  margin-left: 40%;
  margin: 35px;
}